.blog-card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 321px;
  border-radius: 16px;
  margin-bottom: 20px;
  @include sm {
    max-width: 343px;
  }

  .blog-card-img {
    img {
      width: 321px;
      height: 180px;
    }
    height: 180px;

    .img-btn {
      padding: 8px 12px;

      height: 35px;

      background: #ffffff;
      border-radius: 22px;
      font-family: "Inter";

      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      text-transform: inherit;
      color: #8d00d0;
      margin-top: -110px;
      margin-left: 24px;
    }
    img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      @include sm {
        width: 100%;
      }
    }
  }
  .blog-card-content-parent {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .arrow-img {
      display: flex;
      justify-content: space-between;
      @include sm {
        // margin-top: 10px;
      }
    }
    .card-content {
      padding-left: 20px;
      padding-bottom: 24px;

      .blog-card-heading {
        font-family: "Inter";
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 16px;
        color: #1d2123;
        width: 280px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
      }
      .blog-card-prg {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
        width: 280px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        color: #95a0a7;
      }
    }
  }
}
