.union {
  @include sm {
    margin-left: 30px;
  }
  margin-top: 42px;
  display: flex;
  .MuiTypography-root {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160.02%;
    color: #1d2123;
    margin-right: 7px;
  }
}
.MuiButtonGroup-root {
  @include sm {
    margin-left: 10px;
  }

  .MuiButton-contained2 {
    align-items: center;
    padding: 8px 12px;
    font-family: "Inter", sans-serif;
    gap: 8px;
    text-transform: inherit;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #8d00d0;
    margin-right: 10px;
    background: #ffffff;
    border-radius: 22px;
  }
}

.cardParent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .productCard_container {
    max-width: 668px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .virticalCard {
    // max-width: 650px !important;
    .image {
      width: 516px;
      border-radius: 54px;
    }
    @include sm {
      display: none;
    }
    .MuiPaper-root {
      width: 39vw !important;
      .MuiCardContent-root {
        padding: 5px;

        .box {
          position: relative;
          margin: 2px;
          margin-right: 0px;

          .box1 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-left-radius: 10px;
            position: absolute;
            top: 0px;
            left: 1px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #eaeef0;
          }

          .box2 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-right-radius: 10px;
            position: absolute;
            top: 2px;
            right: 2px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: #eaeef0;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
          .box3 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-left-radius: 10px;
            position: absolute;
            bottom: -18px;
            left: 0px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: #eaeef0;
            border-left-color: #eaeef0;
          }
          .box4 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-right-radius: 10px;
            position: absolute;
            bottom: -18px;
            right: 4px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: #eaeef0;
            border-bottom-color: #eaeef0;
            border-left-color: transparent;
          }

          .MuiButton-contained4 {
            align-items: center;
            padding: 8px 12px;
            font-weight: 600;
            font-size: 16px;
            text-transform: inherit;
            font-family: "Inter", sans-serif;
            color: #8d00d0;

            margin-right: 10px;

            background: #ffffff;
            border-radius: 22px !important;
          }
        }
      }
      .subtitle1 {
        font-family: "Inter";
        margin-left: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #1d2123;
        margin-bottom: 20px;
      }
      .subtitle2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
        color: #95a0a7;
        margin-left: 19px;
      }

      .MuiButtonBase-root {
        padding: 8px 12px;
        gap: 8px;
        text-transform: inherit;
        margin-left: 15px;
        background: #ffffff;
        border-radius: 22px;
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        background: rgba(141, 0, 208, 0.1);
        color: #8d00d0;
        margin-bottom: 30px;
        margin-top: 20px;
      }
    }
  }
}
