.MuiButton-contained3 {
  align-items: center;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  color: #8d00d0;
  height: 35px;
  text-transform: inherit;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  background: #ffffff;
  border-radius: 22px;
}

.css-46bh2p-MuiCardContent-root {
  padding: 0%;
}

.firstCard {
  .card-border-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0px 10px;
  }
  .card-content {
    padding: 0px 15px 5px 30px;
    height: 18vh;
    .post-title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #1d2123;
    }

    .post-des {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160.02%;
      width: 100%;
      max-height: 55px;
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160.02%;
    }
  }

  .card-border-containerlast {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0px 10px;
  }
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 15px !important;
}

.imgButton {
  cursor: pointer;
}
