.union {
  @include sm {
    margin-left: 8px;
  }
  margin-top: 42px;
  display: flex;
  .MuiTypography-root {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160.02%;
    color: #1d2123;
    margin-right: 7px;
  }
}
.MuiButtonGroup-root {
  @include sm {
    width: 100%;
  }

  .tags-container {
    margin-top: 15px;
    border-radius: 22px;
  }
  .MuiButton-contained2 {
    border-radius: 22px;
    text-align: center;
    display: flex;

    padding: 8px 12px;
    font-family: "Inter";
    gap: 8px;
    text-transform: inherit;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #8d00d0;
    margin-right: 10px;
    background: #ffffff;
  }
}

.cardParent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  .productCard_container {
    max-width: 658px;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    @include sm {
      margin-bottom: 20px;
      max-width: 358px;
      margin-left: 20px;
    }
  }
}
