.Index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .button-content {
    display: flex;
    margin-top: 10px;
    .MuiButtonBase-root {
      border-radius: 22px;

      display: flex;

      padding: 8px 12px;
      font-family: "Inter";
      gap: 8px;
      text-transform: inherit;
      height: 35px;
      font-weight: 600;
      font-size: 16px;
      color: #8d00d0;
      margin-right: 10px;
      background: #ffffff;
      @include sm {
        max-width: 358px;
      }
    }
  }
  .blogList {
    @include sm {
      max-width: 343px;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

.robuySecondContainer {
  max-width: 680px;
  margin-right: 60px;

  @include sm {
    max-width: 393px;
    display: flex;
    margin-right: 6px;
    margin-top: 72px;
  }
  .robuyProject {
    box-shadow: 9px -123px 71px -160px #8d00d0, -69px 0 141px -94px #399acf,
      97px 0 87px -109px #d2cc38;
    margin-top: 20px;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 19px;
  }
  .top-icon {
    width: 680px;
    height: 380px;
    @include sm {
      height: auto;
    }
  }

  img {
    width: 100%;

    @include sm {
      width: 60%;
      height: auto;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
  .robuySecConChild {
    margin: 25px;
    @include sm {
      margin: 10px 34px 30px 34px;
    }
    .robuySecCon-box {
      position: relative;
      margin: 10px;

      .robuySecCon-box1 {
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-top-left-radius: 10px;
        position: absolute;
        top: -16px;
        left: -25px;
        border-color: transparent;
        border-top-color: #eaeef0;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #eaeef0;
      }

      .robuySecCon-box2 {
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-top-right-radius: 10px;
        position: absolute;
        top: -16px;
        right: -25px;
        border-color: transparent;
        border-top-color: #eaeef0;
        border-right-color: #eaeef0;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      .robuySecCon-box3 {
        margin-top: 150px;
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-bottom-left-radius: 10px;
        position: absolute;
        bottom: -18px;
        left: -25px;
        border-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #eaeef0;
        border-left-color: #eaeef0;
      }
      .robuySecCon-box4 {
        margin-top: 150px;
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: -18px;
        right: -25px;
        border-color: transparent;
        border-top-color: transparent;
        border-right-color: #eaeef0;
        border-bottom-color: #eaeef0;
        border-left-color: transparent;
      }
      .header {
        margin-top: 25px;
      }
      .MuiPaper-root {
        border-radius: 16px;
        box-shadow: none;

        .MuiCardContent-root {
          .buttonParent {
            margin-bottom: 25px;
            margin-top: 25px;
            @include sm {
              display: flex;
            }

            .MuiButton-contained1 {
              color: #6f2cff;
              @include sm {
                width: 38%;
                text-transform: inherit;
                font-size: 13px;
              }
              background: rgba(141, 0, 208, 0.1);
              border-radius: 22px;
              font-family: "Inter", sans-serif;
              font-weight: 600;
              font-size: 16px;
            }
          }
          .text {
            .MuiTypography-body2 {
              font-family: "Inter";
              font-weight: 600;
              font-size: 20px;
              line-height: 120%;
              color: #1d2123;
            }
          }
        }
      }
      .description1 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
        color: #1d2123;
        margin-top: 20px;
      }

      .description2 {
        background-color: #eaeef0;
        padding: 20px;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 160.02%;
          color: #1d2123;
        }
      }
      .description3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
        margin-top: 20px;
        color: #1d2123;
        opacity: 0.9;
      }
    }
  }
}
