.MuiPaper-root-MuiCard-root {
  box-shadow: none;
  .imgButton {
    cursor: pointer;
  }

  .MuiButton-contained3 {
    align-items: center;
    padding: 8px 12px;
    font-family: "Inter";
    color: #8d00d0;
    height: 35px;
    text-transform: inherit;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    background: #ffffff;
    border-radius: 22px;
  }

  .MuiCardContent-root {
    padding: 0%;
  }

  .firstCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .card-border-container {
      display: flex;
      justify-content: space-between;
      margin: -7px 8px 0px 8px;
    }
    .card-content {
      padding: 0px 15px 5px 30px !important;
      height: 16vh !important;

      .post-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
      }
      .post-des {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;
        width: 100% !important;
        max-height: 68px !important;
        display: -webkit-box !important;
        -webkit-box-orient: horizontal !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
      p {
        font-family: "Inter" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 160.02%;
      }
    }

    .card-border-containerlast {
      display: flex;
      justify-content: space-between;
      margin: 16px 8px -6px 7px !important;
    }
  }

  .MuiCardContent-root:last-child {
    padding-bottom: 15px !important;
    margin-top: 10px;
  }
}
