.MuiTypography-body2 {
  width: 100%;
  max-height: 83px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgButton {
  cursor: pointer;
}
