.headerParent {
  width: 100%;
  // display: none;
  @include sm {
    position: relative;
  }
  .navbar {
    background-color: transparent;
    padding: 15px 0px;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .MuiTypography-h6 {
      font-family: "Inter";
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      display: flex;
      color: #1d2123;
      gap: 6px;
      margin-left: 23px;
      margin-top: 10px;
      width: 120px;
    }
    .MuiButton-textPrimary {
      width: 4.5vw;
      height: 42px;

      background: linear-gradient(
          89.08deg,
          #4095d2 0.84%,
          #aa39d2 37.68%,
          #c0537d 61.71%,
          #d38c39 97.89%
        ),
        #8d00d0;
      border-radius: 31px;
      font-weight: 600;
      font-size: 14px;
      line-height: 160.02%;
      font-family: "Inter";
      color: #ffffff;
      text-transform: inherit;
    }
    .button-icon {
      display: flex;
      gap: 16px;
      margin-right: 23px;
      width: 120px;

      .twiter-box {
        margin-top: 14px;

        svg {
          fill: #95a0a7;
          cursor: pointer;
          &:hover {
            fill: #1d2123;
          }
        }
      }
      .vector {
        margin-top: 14px;
        svg {
          fill: #95a0a7;
          cursor: pointer;
          &:hover {
            fill: #1d2123;
          }
        }
      }
    }
    .tabContainer {
      max-width: 696px;
      width: 100%;
      border-radius: 18px;
      background: #eaeef0;
      color: #95a0a7;
      @include sm {
        position: absolute;
        top: 50px;
        overflow: scroll;
        width: 100%;

        margin-left: 31px;
        margin-top: 21px;

        margin-left: 15px;
      }

      .MuiButton-outlined {
        padding: 5px;
        @include sm {
          width: 50%;
        }
      }

      .MuiButton-outlinedPrimary {
        padding: 4px;
        gap: 19px;
        border: none;
        font-family: "Inter";
        font-weight: 600;
        font-size: 14px;
        color: #95a0a7;
      }

      .MuiButtonGroup-root {
        border: none;
        height: 42px;
        @include sm {
          width: 200%;
          padding: 2px;
          margin: 1px;
        }
        .btn-group1 {
          padding: 8px;
          gap: 10px;
          border: none;
          font-family: "Inter";
          font-weight: 600;
          font-size: 14px;
          text-transform: inherit;
          color: #95a0a7;
          padding-left: 19px;
          @include sm {
            background-color: white;
            border-radius: 12px;
            margin-top: 0px;
            margin-bottom: 2px;
            margin-left: 1px;
            color: black;
            font-weight: 600;
            font-size: 13px;
            line-height: 160.02%;
            width: 64%;

            color: #1d2123;
          }
        }
        .btn-group2 {
          padding: 8px;
          gap: 10px;
          border: none;
          font-family: "Inter";
          font-weight: 600;
          font-size: 14px;
          color: #95a0a7;
          text-transform: inherit;
          padding-left: 19px;
        }
        .btn-group3 {
          padding: 8px;
          gap: 10px;
          border: none;
          font-family: "Inter";
          font-weight: 600;
          font-size: 14px;
          color: #95a0a7;
          text-transform: inherit;
          padding-left: 19px;
        }
        .btn-group4 {
          padding: 8px;
          gap: 10px;
          border: none;
          font-family: "Inter";
          font-weight: 600;
          font-size: 14px;
          text-transform: inherit;
          color: #95a0a7;
          padding-left: 19px;
        }
        .btn-groupLast {
          background-color: white;
          border-radius: 12px;
          margin-top: 2px;
          gap: 10px;
          font-size: 14px;
          margin-bottom: 2px;
          text-transform: inherit;
          margin-left: 28px;
          margin-right: 2px;
          padding-left: 12px;
          padding-right: 11px;
        }
      }
    }
  }
}
