.container {
  width: 100%;
  margin-top: 10px;
  background-color: transparent !important;
  .MuiPaper-root {
    background-color: transparent !important;
    color: black;
    box-shadow: none;
  }
  .btn-container {
    width: 97%;
    display: flex;
    justify-content: space-between;
    background-color: transparent !important;
  }
  .logo-container {
    width: 28%;
    display: flex;
    align-items: center;
  }
  .logoName {
    margin-left: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
  }
  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // padding-right: 30px;
    border: none !important;
  }
  .btn2 {
    width: 66%;
    display: flex;
    justify-content: center;
    border: none !important;
    background-color: rgb(234, 238, 240);
    border-radius: 15px;
  }
  .btn-group {
    border: none !important;
    color: #95a0a7;
    background: #eaeef0;
    border-radius: 16px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 160.02%;
  }
  .btn-group1 {
    border: none !important;
    color: #95a0a7;
    background: #eaeef0;
    border-radius: 16px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 160.02%;
  }
  .btn-group2 {
    border: none !important;
    color: #95a0a7;
    background: #eaeef0;
    border-radius: 16px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 160.02%;
    @include sm {
      max-width: 390px !important;
      color: #000 !important;
    }
  }
  .btn-group3 {
    border: none !important;
    color: #95a0a7;
    background: #eaeef0;
    border-radius: 16px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 160.02%;
  }
  .btn-group4 {
    border: none !important;
    color: #95a0a7;
    background: #eaeef0;
    border-radius: 16px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 160.02%;
  }
  .btn-groupLast {
    background-color: #fff;
    border: none;
    color: #95a0a7;
    font-family: "Inter", sans-serif;
    border-radius: 14px !important;
    border: none !important;
    margin-left: 12px !important;
  }
  .nav-icon {
    margin-left: 10px;
    padding: 8px;
  }
  .icon-container {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .twiter-box {
    padding-left: 20px;
  }
  .btn-last {
    background: linear-gradient(
        89.08deg,
        #4095d2 0.84%,
        #aa39d2 37.68%,
        #c0537d 61.71%,
        #d38c39 97.89%
      ),
      #8d00d0;
    border-radius: 31px;
    color: #fff;
    cursor: pointer;
    font-family: "Inter", sans-serif;

    font-weight: 600;
    font-size: 14px;
    // line-height: 160.02%;
    padding: 10px 16px;
    margin-left: 30px;
  }
  .btn-none {
    display: none;
    border-radius: 17px;
  }

  @media only screen and (max-width: 426px) {
    .btn-container {
      width: 82%;
      margin-left: 30px;
    }
    .btn {
      display: none !important;
    }
    .btn-none {
      max-width: 90% !important;
      display: block;
      background: #eaeef0;
      margin-top: 10px;
      margin-left: 3rem !important;
      overflow: scroll;
      margin-bottom: 20px;
    }

    .btn-group2 {
      width: 28%;
      border: none;
      color: #95a0a7;
      border-radius: 16px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 160.02%;
      background-color: #fff;
      border-radius: 14px;
      margin: 3px;
    }
    .MuiButtonGroup-grouped:not(:last-of-type) {
      border-top-right-radius: none !important;
      border-bottom-right-radius: none !important;
      border-right-color: transparent;
      border-radius: 14px;
    }
    .icon-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }
    .nav-icon2 {
      margin-right: 7px;
    }
  }

  @media only screen and (max-width: 391px) {
    .btn-container {
      width: 85%;
      margin-left: 10px;
    }
    .icon-container {
      margin-left: 20px;
      margin-right: 0px !important;
    }
    .logo-container {
      width: 100%;
    }
    .btn-none {
      max-width: 90% !important;
      display: block;
      background: #eaeef0;
      margin-top: 10px;
      overflow: scroll;
      margin-bottom: 20px;
      margin-left: 25px !important;
    }
    .btn-group2 {
      width: 30%;
      background-color: #fff;
      border-radius: 14px !important;
      margin: 3px;
    }

    .nav-icon2 {
      margin-right: 10px;
      @include sm {
        max-width: 390px !important;
        color: #000 !important;
      }
    }
    .twiter-box {
      padding-left: 10px;
    }
    .btn-last {
      width: 20%;
      font-size: 14px;
      margin-left: 10px;
    }
    .MuiButtonGroup-grouped:not(:last-of-type) {
      border-top-right-radius: none !important;
      border-bottom-right-radius: none !important;
      border-right-color: transparent;
      border-radius: 14px;
    }
  }
  @media only screen and (max-width: 376px) {
    .btn-container {
      width: 95%;
    }

    .icon-container {
      margin-right: 2rem !important;
    }
    .btn-none {
      max-width: 90% !important;
      overflow: scroll !important;
    }
  }
  @media only screen and (max-width: 1024px) {
    .btn2 {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 1280px) {
    .btn2 {
      width: 99%;
    }
  }
  @media only screen and (max-width: 1440px) {
    .btn2 {
      width: 87%;
    }
  }
  @media only screen and (max-width: 1500px) {
    .btn2 {
      width: 84%;
    }
  }
}
