@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

.robuyContainer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-top: 66px;

  @include sm {
    max-width: 350px;
    display: flex;
    margin-left: 55px;
    margin-top: 64px;
  }

  .robuyParent {
    display: flex;
    // background-image: url("/assets/images/card-background.svg");
    position: relative;
    .card-bg {
      position: absolute;
      // background-color: red;
      background-image: url("/assets/images/card-background.svg");
      background-size: cover;
      background-repeat: no-repeat;
      overflow: visible;
      width: 120%;
      height: 120%;
      left: -53px;
      top: -53px;
    }
  }

  .robuychildcontainer {
    box-shadow: 8px 120px 71px -170px #d2395e, 9px -120px 68px -170px #8d00d0,
      -69px 0 140px -94px #399acf, 97px 0 87px -107px #d2cc38;
    margin-top: 20px;

    // box-shadow: 0 0 10px red;

    margin-top: 20px;
    .cardChild {
      padding: 32px;
      /* width: 578px; */
      box-shadow: none;
      /* margin-left: 10px; */
      margin-top: 7px;
      .newsCard {
        .buttonParent {
          @include sm {
            margin-top: 8px;
            margin-right: 10px;
            margin-left: -16px;
          }
          margin-bottom: 30px;
          .MuiButton-contained2 {
            color: #8d00d0;
            background: rgba(141, 0, 208, 0.1);
            border-radius: 22px;
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin-right: 10px;
          }
          .MuiButton-contained1 {
            color: #6f2cff;

            background: rgba(141, 0, 208, 0.1);
            border-radius: 22px;
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 16px;
            @include sm {
              margin-top: 10px;
            }
          }
        }
        .text {
          @include sm {
            margin-top: -6px;
            margin-right: 10px;
            margin-left: -10px;
            max-width: 288px;
          }

          .MuiTypography-body2 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 19px;
            line-height: 120%;
            margin-bottom: 10px;

            color: #1d2123;
          }
          .MuiTypography-body1 {
            font-family: "Inter", sans-serif;

            font-weight: 400;
            font-size: 14px;
            line-height: 160.02%;

            color: #95a0a7;
          }
        }
      }
    }

    .box {
      position: relative;
      margin: 8px;
      .box1 {
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-top-left-radius: 13px;
        border-color: transparent;
        border-top-color: #eaeef0;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #eaeef0;
      }

      .box2 {
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-top-right-radius: 13px;
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-top-color: #eaeef0;
        border-right-color: #eaeef0;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      .box3 {
        margin-top: 150px;
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-bottom-left-radius: 13px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #eaeef0;
        border-left-color: #eaeef0;
      }
      .box4 {
        margin-top: 150px;
        border-style: solid;
        border-width: 2px;
        height: 15px;
        width: 15px;
        border-bottom-right-radius: 13px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-color: transparent;
        border-top-color: transparent;
        border-right-color: #eaeef0;
        border-bottom-color: #eaeef0;
        border-left-color: transparent;
      }
    }
  }

  .union {
    margin-top: 30px;
    display: flex;
    .MuiTypography-root {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160.02%;

      color: #1d2123;
      margin-right: 7px;
    }
  }
  .MuiButtonGroup-root {
    margin-right: 10px;
    margin-top: 16px;

    .MuiButton-contained1 {
      padding: 5px 20px;
      gap: 8px;

      width: 54px;
      height: 35px;
      margin-top: 6px;

      font-family: "Inter", sans-serif;
      color: white;
      background: #6f2cff;
      border-radius: 22px !important;
      margin-right: 10px;
      @include sm {
        margin-top: 5px;
      }
    }
    .MuiButton-contained2 {
      align-items: center;
      padding: 8px 12px;
      font-family: "Inter", sans-serif;
      gap: 8px;

      font-weight: 600;
      font-size: 16px;
      color: #8d00d0;
      margin-right: 10px;

      background: #ffffff;
      border-radius: 22px !important;
    }
    .MuiButton-contained3 {
      align-items: center;
      padding: 8px 12px;
      font-family: "Inter", sans-serif;
      color: #8d00d0;

      font-weight: 600;
      font-size: 16px;

      margin-right: 10px;

      background: #ffffff;
      border-radius: 22px !important;
    }
    .MuiButton-contained4 {
      align-items: center;
      padding: 8px 12px;
      font-weight: 600;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      color: #8d00d0;

      margin-right: 10px;

      background: #ffffff;
      border-radius: 22px !important;
    }
  }

  .MuiPaper-root {
    border-radius: 16px;
    // box-shadow: 99px 0 101px -70px rgba(255, 0, 0, 0.5),
    //   99px 0 101px -70px rgba(0, 255, 0, 0.5),
    //   99px 0 101px -70px rgba(0, 0, 255, 0.5),
    //   99px 0 101px -70px rgba(255, 255, 0, 0.5);

    border-radius: 15px;
    @include sm {
      max-width: 350px;
    }
    img {
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      // margin-top: 20px;
      @include sm {
        // max-width: 294px;
        max-width: 294px;
        margin-left: -10px;
      }
    }
    .secondCard {
      padding: 28px;
      .box {
        position: relative;
        margin: 12px;
        .box1 {
          border-style: solid;
          border-width: 2px;
          height: 15px;
          width: 15px;
          border-top-left-radius: 13px;
          position: absolute;
          top: -34px;
          left: -30px;
          border-color: transparent;
          border-top-color: #eaeef0;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: #eaeef0;
        }

        .box2 {
          border-style: solid;
          border-width: 2px;
          height: 15px;
          width: 15px;
          border-top-right-radius: 13px;
          position: absolute;
          top: -34px;
          right: -30px;
          border-color: transparent;
          border-top-color: #eaeef0;
          border-right-color: #eaeef0;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
        .box3 {
          margin-top: 150px;
          border-style: solid;
          border-width: 2px;
          height: 15px;
          width: 15px;
          border-bottom-left-radius: 13px;
          position: absolute;
          bottom: -32px;
          left: -32px;
          border-color: transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: #eaeef0;
          border-left-color: #eaeef0;
        }
        .box4 {
          margin-top: 150px;
          border-style: solid;
          border-width: 2px;
          height: 15px;
          width: 15px;
          border-bottom-right-radius: 13px;
          position: absolute;
          bottom: -32px;
          right: -32px;
          border-color: transparent;
          border-top-color: transparent;
          border-right-color: #eaeef0;
          border-bottom-color: #eaeef0;
          border-left-color: transparent;
        }
      }
      .buttonParent {
        @include sm {
          margin-top: 8px;
          margin-right: 10px;
          margin-left: -16px;
        }
        margin-bottom: 30px;
        .MuiButton-contained2 {
          color: #8d00d0;
          background: rgba(141, 0, 208, 0.1);
          border-radius: 22px;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 16px;
          margin-right: 10px;
        }
        .MuiButton-contained1 {
          color: #6f2cff;

          background: rgba(141, 0, 208, 0.1);
          border-radius: 22px;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 16px;
          @include sm {
            margin-top: 10px;
          }
        }
      }
      .text {
        @include sm {
          margin-top: -6px;
          margin-right: 10px;
          margin-left: -10px;
          max-width: 288px;
        }

        .MuiTypography-body2 {
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 19px;
          line-height: 120%;
          margin-bottom: 10px;

          color: #1d2123;
        }
        .MuiTypography-body1 {
          font-family: "Inter", sans-serif;

          font-weight: 400;
          font-size: 14px;
          line-height: 160.02%;

          color: #95a0a7;
        }
      }
    }

    .header {
      @include sm {
        max-width: 294px;
        /* margin-right: 50px; */
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        width: 304px;
      }

      background-color: #eaeef0;
      padding: 20px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .MuiButtonBase-root {
        background: linear-gradient(
          89.08deg,
          #4095d2 0.84%,
          #aa39d2 37.68%,
          #c0537d 61.71%,
          #d38c39 97.89%
        );
        @include sm {
          margin-top: 10px;
        }
        border-radius: 32px;
        color: white;
        align-items: center;
        padding: 13px 24px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 14px;
      }
      .MuiTypography-subtitle1 {
        font-family: "Inter", sans-serif;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;

        color: #1d2123;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .MuiTypography-subtitle2 {
        font-family: "Inter", sans-serif;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 4px;

        color: #95a0a7;
      }
    }
  }
  .cardParent {
    display: flex;
    .productCard_container {
      display: flex;
      /* width: 152%; */
      /* width: 500px; */
      max-width: 668px;
      flex-wrap: wrap;
      .firstCard {
        padding: 30px;
        .box {
          position: relative;
          margin: 9px;
          .box1 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-left-radius: 13px;
            position: absolute;
            top: -34px;
            left: -30px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #eaeef0;
          }

          .box2 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-right-radius: 13px;
            position: absolute;
            top: -34px;
            right: -30px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: #eaeef0;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
          .box3 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-left-radius: 13px;
            position: absolute;
            bottom: -32px;
            left: -30px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: #eaeef0;
            border-left-color: #eaeef0;
            @include sm {
              top: -7px;
              left: -30px;
            }
          }
          .box4 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-right-radius: 13px;
            position: absolute;
            bottom: -32px;
            right: -32px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: #eaeef0;
            border-bottom-color: #eaeef0;
            border-left-color: transparent;
            @include sm {
              top: -7px;
              right: -30px;
            }
          }
        }
      }
    }

    .parentChild {
      display: flex;
      justify-content: space-between;
      @include sm {
        max-width: 356px;

        display: flex;
        flex-direction: column;
      }
    }
    .parentChild2 {
      display: flex;
      justify-content: space-between;
      @include sm {
        max-width: 356px;

        display: flex;
        flex-direction: column;
      }
      .MuiPaper-root {
        @include sm {
          display: none;
        }
      }
      .firstChild {
        .box {
          position: relative;
          margin: 12px;
          .box1 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-left-radius: 13px;
            position: absolute;
            top: -24px;
            left: -20px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #eaeef0;
          }

          .box2 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-right-radius: 13px;
            position: absolute;
            top: -24px;
            right: -20px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: #eaeef0;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
          .box3 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-left-radius: 13px;
            position: absolute;
            bottom: -51px;
            left: -17px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: #eaeef0;
            border-left-color: #eaeef0;
          }
          .box4 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-right-radius: 13px;
            position: absolute;
            bottom: -51px;
            right: -16px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: #eaeef0;
            border-bottom-color: #eaeef0;
            border-left-color: transparent;
          }
        }
      }
      .secondChild {
        .box {
          position: relative;
          margin: 12px;
          .box1 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-left-radius: 13px;
            position: absolute;
            top: -24px;
            left: -20px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #eaeef0;
          }

          .box2 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-right-radius: 13px;
            position: absolute;
            top: -24px;
            right: -20px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: #eaeef0;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
          .box3 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-left-radius: 13px;
            position: absolute;
            bottom: -27px;
            left: -17px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: #eaeef0;
            border-left-color: #eaeef0;
          }
          .box4 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-right-radius: 13px;
            position: absolute;
            bottom: -28px;
            right: -16px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: #eaeef0;
            border-bottom-color: #eaeef0;
            border-left-color: transparent;
          }
        }
      }
    }
    justify-content: space-between;
    flex-direction: column;
    .MuiPaper-root {
      // @include sm {
      //   max-width: 350px;

      //   padding-left: -10px;
      // }

      .imgButton {
        position: relative;
        .MuiButtonBase-root {
          position: absolute;
          bottom: 0;
          padding: 8px 12px;
          gap: 8px;

          background: #ffffff;
          border-radius: 22px;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 120%;

          color: #6f2cff;
          margin-bottom: 30px;
          margin-left: 30px;
        }
        .MuiButton-contained4 {
          position: absolute;
          bottom: 0;
          padding: 8px 12px;
          gap: 8px;

          background: #ffffff;
          border-radius: 22px;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 120%;

          color: #8d00d0;
          margin-bottom: 30px;
          margin-left: 30px;
        }
      }
      img {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        @include sm {
          max-width: 374px;
          display: flex;
          flex-direction: column;
          width: 364px;
        }
      }
      margin-top: 16px;
      margin-right: 14px;

      .MuiCardContent-root {
        .MuiTypography-h5 {
          font-family: "Inter", sans-serif;

          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;

          color: #1d2123;
          margin-bottom: 15px;
        }
        .MuiTypography-body2 {
          font-family: "Inter", sans-serif;

          font-weight: 400;
          font-size: 14px;
          line-height: 160.02%;

          color: #95a0a7;
        }
      }
    }
  }
  .virticalCard {
    max-width: 659px;
    @include sm {
      display: none;
    }
    .MuiPaper-root {
      width: 100%;
      .MuiCardContent-root {
        padding: 5px;
        .box {
          position: relative;
          margin: 9px;
          .box1 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-left-radius: 13px;
            position: absolute;
            top: -5px;
            left: -4px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #eaeef0;
          }

          .box2 {
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-top-right-radius: 13px;
            position: absolute;
            top: -3px;
            right: -2px;
            border-color: transparent;
            border-top-color: #eaeef0;
            border-right-color: #eaeef0;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
          .box3 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-left-radius: 13px;
            position: absolute;
            bottom: -6px;
            left: -5px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: #eaeef0;
            border-left-color: #eaeef0;
          }
          .box4 {
            margin-top: 150px;
            border-style: solid;
            border-width: 2px;
            height: 15px;
            width: 15px;
            border-bottom-right-radius: 13px;
            position: absolute;
            bottom: -6px;
            right: -3px;
            border-color: transparent;
            border-top-color: transparent;
            border-right-color: #eaeef0;
            border-bottom-color: #eaeef0;
            border-left-color: transparent;
          }
        }
      }
      .MuiTypography-subtitle1 {
        font-family: "Inter", sans-serif;
        margin-left: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #1d2123;
        margin-bottom: 20px;
      }
      .MuiTypography-subtitle2 {
        font-family: "Inter", sans-serif;
        margin-left: 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160.02%;

        color: #95a0a7;
      }
      img {
        border-bottom-right-radius: 0px;
      }
      .MuiButtonBase-root {
        padding: 8px 12px;
        gap: 8px;
        margin-left: 15px;
        background: #ffffff;
        border-radius: 22px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        background: rgba(141, 0, 208, 0.1);
        color: #8d00d0;
        margin-bottom: 30px;
        margin-top: 20px;
      }
    }
  }
}
