.virticalCard {
  width: 658px;

  display: flex;
  height: 247px;
  background-color: #ffffff;
  color: black;
  border-radius: 14px;

  .virtical-child {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 160px;
    height: 247px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  @include sm {
    display: none;
  }
  .border-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
  }
  .content-card {
    padding: 10px 20px 10px 20px;
    height: 81%;

    .btn {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #8d00d0;
      background: rgba(141, 0, 208, 0.1);
      border-radius: 22px;
    }
    .vati-hed{
      font-family: "Inter";
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 16px;
      color: #1d2123;
      width: 480px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
    }
    .prg {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160.02%;
      color: #95a0a7;
      width: 440px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
    }
  }
  .border-containerlast {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 124px; */
    /* width: 497px; */
    /* height: 247px; */
    margin-top: -24px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .content-container {
    height: 100%;
    width: 100%;
  }
}
